AuthorizationApi/appsettings.json
Dictionaries/*
DictionaryApi/appsettings.json
DictionaryApi/appsettings.Development.json
AuthorizationApi/appsettings.Development.json
.vs/*
HonBunNoAnkiApi/appsettings.Development.json
HonBunNoAnkiApi/appsettings.json
HonBunNoAnkiApi/bin/
HonBunNoAnkiApi/obj/
IntegrationTests/obj/
IntegrationTests/bin/
UnitTests/obj/
UnitTests/bin/
DictionaryApi/obj/DictionaryApi.csproj.EntityFrameworkCore.targets
DictionaryApi/obj/DictionaryApi.csproj.nuget.dgspec.json
DictionaryApi/obj/DictionaryApi.csproj.nuget.g.props
DictionaryApi/obj/DictionaryApi.csproj.nuget.g.targets
DictionaryApi/obj/project.assets.json
DictionaryApi/obj/project.nuget.cache
DictionaryApi/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
DictionaryApi/obj/Debug/net5.0/_IsIncrementalBuild
DictionaryApi/obj/Debug/net5.0/apphost.exe
DictionaryApi/obj/Debug/net5.0/DictionaryApi.AssemblyInfo.cs
DictionaryApi/obj/Debug/net5.0/DictionaryApi.AssemblyInfoInputs.cache
DictionaryApi/obj/Debug/net5.0/DictionaryApi.assets.cache
DictionaryApi/obj/Debug/net5.0/DictionaryApi.csproj.AssemblyReference.cache
DictionaryApi/obj/Debug/net5.0/DictionaryApi.csproj.BuildWithSkipAnalyzers
DictionaryApi/obj/Debug/net5.0/DictionaryApi.csproj.CopyComplete
DictionaryApi/obj/Debug/net5.0/DictionaryApi.csproj.CoreCompileInputs.cache
DictionaryApi/obj/Debug/net5.0/DictionaryApi.csproj.FileListAbsolute.txt
DictionaryApi/obj/Debug/net5.0/DictionaryApi.dll
DictionaryApi/obj/Debug/net5.0/DictionaryApi.GeneratedMSBuildEditorConfig.editorconfig
DictionaryApi/obj/Debug/net5.0/DictionaryApi.genruntimeconfig.cache
DictionaryApi/obj/Debug/net5.0/DictionaryApi.MvcApplicationPartsAssemblyInfo.cache
DictionaryApi/obj/Debug/net5.0/DictionaryApi.MvcApplicationPartsAssemblyInfo.cs
DictionaryApi/obj/Debug/net5.0/DictionaryApi.pdb
DictionaryApi/obj/Debug/net5.0/DictionaryApi.RazorTargetAssemblyInfo.cache
DictionaryApi/obj/Debug/net5.0/project.razor.json
DictionaryApi/obj/Debug/net5.0/ref/DictionaryApi.dll
DictionaryApi/obj/Debug/net5.0/refint/DictionaryApi.dll
DictionaryApi/obj/Debug/net5.0/staticwebassets/DictionaryApi.StaticWebAssets.Manifest.cache
DictionaryApi/obj/Debug/net5.0/staticwebassets/DictionaryApi.StaticWebAssets.Pack.cache
DictionaryApi/obj/Release/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
DictionaryApi/obj/Release/net5.0/_IsIncrementalBuild
DictionaryApi/obj/Release/net5.0/apphost.exe
DictionaryApi/obj/Release/net5.0/DictionaryApi.AssemblyInfo.cs
DictionaryApi/obj/Release/net5.0/DictionaryApi.AssemblyInfoInputs.cache
DictionaryApi/obj/Release/net5.0/DictionaryApi.assets.cache
DictionaryApi/obj/Release/net5.0/DictionaryApi.csproj.AssemblyReference.cache
DictionaryApi/obj/Release/net5.0/DictionaryApi.csproj.BuildWithSkipAnalyzers
DictionaryApi/obj/Release/net5.0/DictionaryApi.csproj.CopyComplete
DictionaryApi/obj/Release/net5.0/DictionaryApi.csproj.CoreCompileInputs.cache
DictionaryApi/obj/Release/net5.0/DictionaryApi.csproj.FileListAbsolute.txt
DictionaryApi/obj/Release/net5.0/DictionaryApi.dll
DictionaryApi/obj/Release/net5.0/DictionaryApi.GeneratedMSBuildEditorConfig.editorconfig
DictionaryApi/obj/Release/net5.0/DictionaryApi.genruntimeconfig.cache
DictionaryApi/obj/Release/net5.0/DictionaryApi.MvcApplicationPartsAssemblyInfo.cache
DictionaryApi/obj/Release/net5.0/DictionaryApi.MvcApplicationPartsAssemblyInfo.cs
DictionaryApi/obj/Release/net5.0/DictionaryApi.pdb
DictionaryApi/obj/Release/net5.0/DictionaryApi.RazorTargetAssemblyInfo.cache
DictionaryApi/obj/Release/net5.0/PublishOutputs.880962d595.txt
DictionaryApi/obj/Release/net5.0/PublishOutputs.f59ee2f0d2.txt
DictionaryApi/obj/Release/net5.0/PubTmp/DictionaryApi.Parameters.xml
DictionaryApi/obj/Release/net5.0/PubTmp/DictionaryApi.SourceManifest.xml
DictionaryApi/obj/Release/net5.0/PubTmp/Out/appsettings.Development.json
DictionaryApi/obj/Release/net5.0/PubTmp/Out/appsettings.json
DictionaryApi/obj/Release/net5.0/PubTmp/Out/AutoMapper.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/AutoMapper.Extensions.Microsoft.DependencyInjection.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/Azure.Core.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/Cosmos.CRTCompat.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/DictionaryApi.deps.json
DictionaryApi/obj/Release/net5.0/PubTmp/Out/DictionaryApi.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/DictionaryApi.exe
DictionaryApi/obj/Release/net5.0/PubTmp/Out/DictionaryApi.pdb
DictionaryApi/obj/Release/net5.0/PubTmp/Out/DictionaryApi.runtimeconfig.json
DictionaryApi/obj/Release/net5.0/PubTmp/Out/DnsClient.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/MeCab.DotNet.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/Microsoft.Azure.Cosmos.Client.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/Microsoft.Azure.Cosmos.Core.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/Microsoft.Azure.Cosmos.Direct.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/Microsoft.Azure.Cosmos.Serialization.HybridRow.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/Microsoft.Azure.Cosmos.ServiceInterop.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/Microsoft.Bcl.AsyncInterfaces.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/Microsoft.Bcl.HashCode.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/Microsoft.Extensions.DependencyInjection.Abstractions.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/Microsoft.Extensions.Options.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/Microsoft.Extensions.Primitives.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/Microsoft.OpenApi.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/Microsoft.Win32.SystemEvents.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/MongoDB.Bson.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/MongoDB.Driver.Core.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/MongoDB.Driver.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/MongoDB.Libmongocrypt.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/msvcp140.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/Newtonsoft.Json.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/SharpCompress.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/Swashbuckle.AspNetCore.Swagger.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/Swashbuckle.AspNetCore.SwaggerGen.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/Swashbuckle.AspNetCore.SwaggerUI.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/System.Configuration.ConfigurationManager.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/System.Drawing.Common.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/System.Memory.Data.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/System.Runtime.CompilerServices.Unsafe.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/System.Security.AccessControl.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/System.Security.Cryptography.ProtectedData.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/System.Security.Permissions.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/System.Windows.Extensions.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/vcruntime140.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/vcruntime140_1.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/web.config
DictionaryApi/obj/Release/net5.0/PubTmp/Out/dic/char.bin
DictionaryApi/obj/Release/net5.0/PubTmp/Out/dic/dicrc
DictionaryApi/obj/Release/net5.0/PubTmp/Out/dic/matrix.bin
DictionaryApi/obj/Release/net5.0/PubTmp/Out/dic/README.txt
DictionaryApi/obj/Release/net5.0/PubTmp/Out/dic/sys.dic
DictionaryApi/obj/Release/net5.0/PubTmp/Out/dic/unk.dic
DictionaryApi/obj/Release/net5.0/PubTmp/Out/runtimes/linux/native/libmongocrypt.so
DictionaryApi/obj/Release/net5.0/PubTmp/Out/runtimes/linux/native/libsnappy64.so
DictionaryApi/obj/Release/net5.0/PubTmp/Out/runtimes/linux/native/libzstd.so
DictionaryApi/obj/Release/net5.0/PubTmp/Out/runtimes/osx/native/libmongocrypt.dylib
DictionaryApi/obj/Release/net5.0/PubTmp/Out/runtimes/osx/native/libsnappy64.dylib
DictionaryApi/obj/Release/net5.0/PubTmp/Out/runtimes/osx/native/libzstd.dylib
DictionaryApi/obj/Release/net5.0/PubTmp/Out/runtimes/unix/lib/netcoreapp3.1/System.Drawing.Common.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/runtimes/win/lib/netcoreapp3.1/Microsoft.Win32.SystemEvents.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/runtimes/win/lib/netcoreapp3.1/System.Drawing.Common.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/runtimes/win/lib/netcoreapp3.1/System.Windows.Extensions.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/runtimes/win/lib/netstandard2.0/System.Security.AccessControl.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/runtimes/win/lib/netstandard2.0/System.Security.Cryptography.ProtectedData.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/runtimes/win/native/libzstd.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/runtimes/win/native/mongocrypt.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/runtimes/win/native/snappy32.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/runtimes/win/native/snappy64.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/runtimes/win-x64/native/Cosmos.CRTCompat.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/runtimes/win-x64/native/Microsoft.Azure.Cosmos.ServiceInterop.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/runtimes/win-x64/native/msvcp140.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/runtimes/win-x64/native/vcruntime140.dll
DictionaryApi/obj/Release/net5.0/PubTmp/Out/runtimes/win-x64/native/vcruntime140_1.dll
DictionaryApi/obj/Release/net5.0/ref/DictionaryApi.dll
DictionaryApi/obj/Release/net5.0/refint/DictionaryApi.dll
DictionaryApi/obj/Release/net5.0/staticwebassets/DictionaryApi.StaticWebAssets.Manifest.cache
DictionaryApi/bin/
AuthorizationApi.Common/obj/
AuthorizationApi.Common/bin/
AuthorizationApi/obj/
AuthorizationApi/bin/
IntegrationTest/obj/
IntegrationTest/bin/
