<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/01fdf1e3-7db4-4c87-9aca-305b47ee2392/resourceGroups/HonBunNoAnki/providers/Microsoft.Web/sites/UniverAuthorizationApi</ResourceId>
    <ResourceGroup>HonBunNoAnki</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://univerauthorizationapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>ef1ff2c0-0c95-460c-8f2f-8bbd631f9750</ProjectGuid>
    <PublishUrl>https://univerauthorizationapi.scm.azurewebsites.net/</PublishUrl>
    <UserName>$UniverAuthorizationApi</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>